.branchify-node {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
      border-bottom: 1px solid black;
}

.branchify-node > .branchify-switcher {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.branchify-node__open > .branchify-switcher svg.closed,
.branchify-node:not(.branchify-node__open)
  > .branchify-switcher
  svg.open {
  display: none;
}

.branchify-switcher svg {
  width: 100%;
  height: 100%;
  fill: #555;
}

.branchify-node > .branchify-checkbox {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.branchify-checkbox-checked {
  background-color: #ff00c3;
}

.branchify-checkbox svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  display: none;
}

.branchify-checkbox-checked svg {
  display: block;
}

.branchify-label {
  cursor: pointer;
}

.branchify-nodes {
  display: none;
  margin-left: 20px;
}

.branchify-node__open > .branchify-nodes {
  display: block;
}

.branchify-placeholder {
  margin-left: 20px;
}

.branchify-node > .branchify-category-checkbox {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.branchify-category-checkbox-checked {
  background-color: #007bff;
}

.branchify-category-checkbox svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  display: none;
}

.branchify-category-checkbox-checked svg {
  display: block;
}
.add-btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 5px;
  border: 1px solid #52258b;
  color: #52258b;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  border: 2px solid #ff00c3;
  color: #ff00c3;
}

.add-btn svg {
  margin-right: 8px;
}